## Connect to the MySQL DB

In [1]:
# Import relevant libraries
import pandas as pd
import os
import pymysql.cursors

In [2]:
from dotenv import load_dotenv

load_dotenv(override=True)

#env_path = os.path.join(
    #os.path.dirname(
        #os.path.abspath(__file__)
        #os.getcwd(), '.env'
#)

True

In [3]:
# Define environmental variables
HOST = os.getenv("HOST")
USER = os.getenv("USER")
PASSWORD = os.getenv("PASSWORD")
DATABASE = os.getenv("DATABASE")
PORT = os.getenv("PORT")

In [5]:
# Connect
conn = pymysql.connect(host=HOST,
                       user=USER,
                       password=PASSWORD,
                       port=int(PORT),
                       database=DATABASE,
                       cursorclass=pymysql.cursors.DictCursor)
cursor = conn.cursor()

## Query the MySQL DB

In [6]:
query = """
SELECT * FROM Characters
"""

# Execute the query
cursor.execute(query)

#Fetch all results
results = cursor.fetchall()

# Convert results to a DataFrame for better display and analysis
character_df = pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

# Display the DataFrame
print(character_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 826 entries, 0 to 825
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           826 non-null    int64
 1   name         826 non-null    object
 2   status       826 non-null    object
 3   species      826 non-null    object
 4   type         425 non-null    object
 5   gender       826 non-null    object
 6   origin_id    526 non-null    object
 7   location_id  805 non-null    object
 8   image        826 non-null    object
 9   url          826 non-null    object
 10  created      826 non-null    object
dtypes: int64(1), object(10)
memory usage: 71.1+ KB
None

In [7]:
character_df.head()

,id,name,status,species,type,gender,origin_id,location_id,image,url,created
0,1,Rick Sanchez,Alive,Human,None,Male,1,3,https://rickandmortyapi.com/api/character/avat...,https://rickandmortyapi.com/api/character/1,2017-11-04T18:48:46.250Z
1,2,Morty Smith,Alive,Human,None,Male,None,3,https://rickandmortyapi.com/api/character/avat...,https://rickandmortyapi.com/api/character/2,2017-11-04T18:50:21.651Z
2,3,Summer Smith,Alive,Human,None,Female,20,20,https://rickandmortyapi.com/api/character/avat...,https://rickandmortyapi.com/api/character/3,2017-11-04T19:09:56.428Z
3,4,Beth Smith,Alive,Human,None,Female,20,20,https://rickandmortyapi.com/api/character/avat...,https://rickandmortyapi.com/api/character/4,2017-11-04T19:22:43.665Z
4,5,Jerry Smith,Alive,Human,None,Male,20,20,https://rickandmortyapi.com/api/character/avat...,https://rickandmortyapi.com/api/character/5,2017-11-04T19:26:56.301Z

In [8]:
query = """
SELECT * FROM Location
"""

# Execute the query
cursor.execute(query)

#Fetch all results
results = cursor.fetchall()

# Convert results to a DataFrame for better display and analysis
location_df = pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

# Display the DataFrame
print(location_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126 entries, 0 to 125
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         126 non-null    int64
 1   name       126 non-null    object
 2   type       125 non-null    object
 3   dimension  124 non-null    object
 4   url        126 non-null    object
 5   created    126 non-null    object
dtypes: int64(1), object(5)
memory usage: 6.0+ KB
None

In [9]:
query = """
SELECT * FROM Episodes
"""

# Execute the query
cursor.execute(query)

#Fetch all results
results = cursor.fetchall()

# Convert results to a DataFrame for better display and analysis
episode_df = pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

# Display the DataFrame
print(episode_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        51 non-null     int64
 1   name      51 non-null     object
 2   air_date  51 non-null     object
 3   episode   51 non-null     object
 4   url       51 non-null     object
 5   created   51 non-null     object
dtypes: int64(1), object(5)
memory usage: 2.5+ KB
None

In [10]:
query = """
SELECT * FROM Appearance
"""

# Execute the query
cursor.execute(query)

#Fetch all results
results = cursor.fetchall()

# Convert results to a DataFrame for better display and analysis
appearance_df = pd.DataFrame(results, columns=[desc[0] for desc in cursor.description])

# Display the DataFrame
print(appearance_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1266 non-null   int64
 1   episode_id    1266 non-null   int64
 2   character_id  1266 non-null   int64
dtypes: int64(3)
memory usage: 29.8 KB
None

In [11]:
# Investigate the location df
location_df.head()

,id,name,type,dimension,url,created
0,1,Earth (C-137),Planet,Dimension C-137,https://rickandmortyapi.com/api/location/1,2017-11-10T12:42:04.162Z
1,2,Abadango,Cluster,unknown,https://rickandmortyapi.com/api/location/2,2017-11-10T13:06:38.182Z
2,3,Citadel of Ricks,Space station,unknown,https://rickandmortyapi.com/api/location/3,2017-11-10T13:08:13.191Z
3,4,Worldender's lair,Planet,unknown,https://rickandmortyapi.com/api/location/4,2017-11-10T13:08:20.569Z
4,5,Anatomy Park,Microverse,Dimension C-137,https://rickandmortyapi.com/api/location/5,2017-11-10T13:08:46.060Z

In [12]:
# Investigate the episode df
episode_df.head()

,id,name,air_date,episode,url,created
0,1,Pilot,"December 2, 2013",S01E01,https://rickandmortyapi.com/api/episode/1,2017-11-10T12:56:33.798Z
1,2,Lawnmower Dog,"December 9, 2013",S01E02,https://rickandmortyapi.com/api/episode/2,2017-11-10T12:56:33.916Z
2,3,Anatomy Park,"December 16, 2013",S01E03,https://rickandmortyapi.com/api/episode/3,2017-11-10T12:56:34.022Z
3,4,M. Night Shaym-Aliens!,"January 13, 2014",S01E04,https://rickandmortyapi.com/api/episode/4,2017-11-10T12:56:34.129Z
4,5,Meeseeks and Destroy,"January 20, 2014",S01E05,https://rickandmortyapi.com/api/episode/5,2017-11-10T12:56:34.236Z

In [13]:
# Investigate the appearance df
appearance_df.head()

   id  episode_id  character_id
0   0           1             1
1   1           1             2
2   2           1            35
3   3           1            38
4   4           1            62

In [15]:
# Close the cursor and connection
cursor.close()
conn.close()